@media only screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  #weights {
    flex-direction: column;
  }

  #weights .box {
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
  }

  .h-primary {
    font-size: 28px;
  }

  .btnp {
    font-size: 18px;
    padding: 4px 8px;
    width: 40%;
    padding: 0px 10px;
  }
}
